<!DOCTYPE html>
<html>
<head>
  <title>Meytal - Behind The Tour</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
  <%= javascript_include_tag 'application' %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top custom-nav" role="navigation">
  <div class='container'>
      <div class="navbar-header" style="width:100%;">
        <% if !(current_page?(root_path)) %>
          <%= link_to root_path, class: 'btn navbar-btn home-btn' do %>
          <i class="fa fa-arrow-left"></i> Home
          <% end %>
        <% end %>
        <% if current_user %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn navbar-btn home-btn floatright' %>
          <%= link_to "Blog", posts_path, class: 'btn btn-primary navbar-btn floatright' %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: 'btn navbar-btn home-btn floatright' %>
        <% end %>
      </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  <%= yield %>
</div>

<footer>
  <div class="container">
        <div class="col-md-12">
          <div id="partners">
            <img src="http://i.imgur.com/hIpO5m0.png"><img src="http://i.imgur.com/yy3mRZ7.png"><img src="http://i.imgur.com/UtEnQmw.png"><img src="http://i.imgur.com/rl0LdKt.png"><img src="http://i.imgur.com/RgzntEf.png"><img src="http://i.imgur.com/Wp9NKxM.png">
          </div>
          <p class="copyright">
            © 2015 <a href="/" title="">Meytal - Behind The Tour</a>.
           All rights reserved 
          </p>
        </div>
  </div>
</footer>

</body>
</html>
