<!DOCTYPE html>
<html>
<head>
  <title>Meytal - Behind The Tour</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top custom-nav" role="navigation">
  <div class='container'>
      <div class="navbar-header" style="width:100%;">
        <% if !(current_page?(root_path)) %>
          <%= link_to root_path, method: :get, class: 'btn navbar-btn home-btn' do %>
          <i class="fa fa-arrow-left"></i> Home
          <% end %>
        <% end %>
        <% if current_user %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn floatright' %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn floatright', method: :get %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success navbar-btn floatright', method: :get %>
        <% end %>
      </div>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
